<div class="PlaceholderGlow">
    <div class="Ratio Placeholder" style="--tg-aspect-ratio: 0.666666"></div>
    <div><span class="Placeholder" style="width: 60%;"></span></div>
    
    <span class="Placeholder" style="width: 30%;"></span>
</div>