{%- if show_quick_add and card_product.available -%}
    {%- liquid
        assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
        assign qty_rules = false
        if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
          assign qty_rules = true
        endif
      -%}
      {%- if card_product.variants.size > 1 or qty_rules -%}
        <button type="submit" class="ProductCard__SelectOptionButton Button Button--full Button--outline" style="margin-top: 0.5rem;" data-tg-action="product-quickview-modal" data-product-handle="{{ card_product.handle }}">
            <span>{{ 'product.form.choose_options' | t }}</span>
        </button>
      {%- else -%}
        <quick-add-to-cart-button style="display: block; margin-top: 0.5rem;" class="no-js-hidden">
            {%- form 'product', card_product, id: product_form_id, class: 'ProductQuickAddToCardForm' -%}
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}">

                <button type="submit" class="ProductQuickAddToCardForm__AddToCart Button Button--full Button--outline" data-action="quick-add-to-cart">
                    <span>{{ 'product.form.add_to_cart' | t }}</span>
                </button>
            {%- endform -%}
        </quick-add-to-cart-button>
    {%- endif -%}
{%- endif -%}