{%- render 'page-header' -%}

<div class="Container Container--fluid Container--fitScreen Container--spacingMediumPadding">
  <div class="TextCenter">
    <p>{{ '404.title' | t }}</p>
    <a href="{{ routes.all_products_collection_url }}" class="Button Button--primary">{{ 'general.continue_shopping' | t }}</a>
  </div>
</div>