{%- assign product_list = recommendations.products -%}
{%- assign product_list_count = 0 -%}
{%- if product_list != blank -%}
    {%- liquid
        for related_product in product_list 
            assign product_list_count = product_list_count | plus: 1 
        endfor 

        assign card_desktop_items_per_row = 3
        assign card_mobile_items_per_row = 1
        if product_list_count == 2
            assign card_desktop_items_per_row = 6
            assign card_mobile_items_per_row = 2
        elsif product_list_count > 2
            assign card_desktop_items_per_row = 6
            assign card_mobile_items_per_row = 2.38
        endif
    -%}

    <div class="ProductBlockRecommendations__Body ProductListWrapper">
        {%- for related_product in product_list -%}
            <div class="Carousel__Item 1/2--small 1/2--medium-up Carousel__Item--count{{ product_list_count }}">
                {%- render 'product-card', product: related_product, card_desktop_items_per_row: card_desktop_items_per_row, card_mobile_items_per_row: card_mobile_items_per_row, show_rating: true, show_product_info: true, show_vendor: false, show_swatches: false, show_quick_add: false -%}
            </div>
        {%- endfor -%}
    </div>
{%- endif -%} 