.SearchDrawer {
  height: auto;
  bottom: unset;
  top: calc(var(--tg-header-height, 0px) + var(--tg-announcement-bar-height, 0px) + var(--tg-search-drawer-top-other-elements-height, 0px) - 140px);
  border-bottom: none;
}
.SearchDrawer.Drawer--top {
  max-height: calc(100% - var(--tg-header-height, 0px) - var(--tg-announcement-bar-height, 0px) - var(--tg-search-drawer-top-other-elements-height, 0px));
}
.SearchDrawer .Drawer__Header {
  margin-bottom: -1px;
  z-index: 1;
}
@media screen and (max-width: 640px) {
  .SearchDrawer .Drawer__Header {
    padding-left: 1rem;
    padding-right: 0.25rem;
  }
}
@media screen and (min-width: 1008px) {
  .SearchDrawer .Drawer__Header {
    padding: 1rem 2rem;
    padding-right: 1.25rem;
  }
}

.SearchDrawer__Form {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

.SearchDrawer__Form .Icon--search {
  width: 20px;
  height: 20px;
}

.SearchDrawer__InputIconWrapper {
  position: relative;
  top: -1px;
  margin-right: 12px;
  color: var(--tg-sys-color-on-surface-variant);
}

.SearchDrawer__Input {
  background: none;
  width: auto;
  border: none;
  vertical-align: middle;
  flex-grow: 1;
  min-height: 42px;
}

.PredictiveSearch:focus-visible {
  box-shadow: none;
  border-width: 2px;
}

.SearchDrawer__Submit {
  min-height: 42px;
}

.SearchDrawer__Input::-moz-placeholder {
  color: var(--tg-sys-color-on-surface-variant);
}

.SearchDrawer__Input:-ms-input-placeholder {
  color: var(--tg-sys-color-on-surface-variant);
}

.SearchDrawer__Input::placeholder {
  color: var(--tg-sys-color-on-surface-variant);
}

.SearchDrawer__Input::-ms-clear {
  display: none;
}

.SearchDrawer__Results {
  display: none;
  padding: 0;
}
.SearchDrawer__Results .CollectionToolBar {
  display: none;
}

.PredictiveSearch__Summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 52px;
  border-bottom: 1px solid var(--tg-sys-color-outline);
}

.SearchDrawer__Results[aria-hidden=false] {
  display: block;
}

input[type=search],
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

@media screen and (min-width: 641px) {
  .SearchDrawer__InputIconWrapper {
    margin-right: 20px;
  }
}
.PredictiveSearchDrawerDrawer {
  background: var(--tg-sys-color-background);
}

.PredictiveSearchDrawer__Heading {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-bottom: 0;
}

.PredictiveSearchDrawer__ResultsList--products {
  margin-bottom: -1px;
}

.PredictiveSearchDrawer__ResultsGroup--others .PredictiveSearchDrawer__Heading {
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.PredictiveSearchDrawer__ResultsGroup--others .PredictiveSearchDrawer__ResultsList {
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.PredictiveSearch__Results {
  overflow-x: hidden;
}