.ProductCard__Inner {
  position: relative;
}

.ProductCard__Image {
  -o-object-fit: cover;
     object-fit: cover;
}
.ProductCard__Image:not(.ProductItem__Image--placeholder) {
  background-color: var(--tg-sys-color-background);
}

.ProductCard__Vendor {
  word-break: break-word;
}

.ProductCard__NoImage {
  background: var(--tg-sys-color-surface1);
}

.ProductCard__NoImageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.ProductCard__ImageWrapper {
  display: block;
  position: relative;
}

.ProductCard__Image.ProductCard__Image--alternate {
  opacity: 0;
}

.ProductCard__ImageWrapper--withAlternateImage:hover .ProductCard__Image {
  opacity: 0;
}

.ProductCard__ImageWrapper--withAlternateImage:hover .ProductCard__Image--alternate {
  opacity: 1;
}

.ProductCard__Info {
  margin-top: 30px;
  /* padding: 1rem; */
}
.ProductCard__Info.ProductCard__Info--left {
  text-align: start;
}
.ProductCard__Info.ProductCard__Info--left .ImageSwatchList {
  justify-content: flex-start;
}
.ProductCard__Info.ProductCard__Info--right {
  text-align: end;
}
.ProductCard__Info.ProductCard__Info--right .ImageSwatchList {
  justify-content: flex-end;
}
.ProductCard__Info.ProductCard__Info--center {
  text-align: center;
}
.ProductCard__Info.ProductCard__Info--center .ImageSwatchList, .ProductCard__Info.ProductCard__Info--center .ColorSwatchList {
  justify-content: center;
}

.ProductCard__Title {
  word-break: break-word;
  margin-bottom: 0;
  font-family: var(--tg-sys-typescale-title-medium-font);
  font-style: var(--tg-sys-typescale-title-medium-style);
  font-weight: var(--tg-sys-typescale-title-medium-weight);
  font-size: var(--tg-sys-typescale-title-medium-size);
  line-height: var(--tg-sys-typescale-title-medium-line-height);
  letter-spacing: var(--tg-sys-typescale-title-medium-tracking);
}

.ProductCard__Meta {
  line-height: 1.3;
}

.ProductCard__LabelList {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.ProductCard__Label {
  display: block;
  margin-top: 2px;
  border-radius: var(--tg-product-badge-corner-radius);
}

.ProductCard__ActionList {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
}
.ProductCard__ActionList .ProductCard__Action {
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (min-width: 1008px) {
  .ProductCard:hover .ProductCard__ActionList {
    display: block;
  }
}

.ProductCard__Action {
  height: 3rem;
  width: 3rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-bottom: 0.5rem;
  color: var(--tg-sys-color-on-background);
}
.ProductCard__Action svg {
  fill: var(--tg-sys-color-on-surface-variant);
}

.ProductCard__Action.Loading .Icon {
  display: none;
}

.ProductCard__ColorSwatch {
  margin-top: 0.25rem;
}
.ProductCard__ColorSwatch .ImageSwatchList li {
  width: 1rem;
}
.ProductCard__ColorSwatch .ImageSwatchList + .ImageSwatchList {
  margin-top: 0.25rem;
}
.ProductCard__ColorSwatch .ColorSwatchList li .ColorSwatch {
  width: 0.75rem;
  height: 0.75rem;
}
.ProductCard__ColorSwatch .ImageSwatchList, .ProductCard__ColorSwatch .ColorSwatchList, .ProductCard__ColorSwatch .BlockSwatchList {
  margin-bottom: -0.25rem;
}
.ProductCard__ColorSwatch .ImageSwatchList li, .ProductCard__ColorSwatch .ColorSwatchList li, .ProductCard__ColorSwatch .BlockSwatchList li {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

/**
 * ----------------------------------------------------------------------------
 * Product card carousel
 * ----------------------------------------------------------------------------
 */
@media screen and (max-width: 1007px) {
  .ProductListWrapper {
    overflow: hidden;
  }
}
.ProductList--carousel {
  margin-left: 0;
  margin-top: -1px;
  margin-right: -1px;
  border-top: 1px solid var(--tg-sys-color-outline);
}
.ProductList--carousel::after {
  content: "";
}
.ProductList--carousel .Carousel__Item {
  border-right: 1px solid var(--tg-sys-color-outline);
  border-bottom: 1px solid var(--tg-sys-color-outline);
  padding: 0;
}
.ProductList--carousel.flickity-ready.flickity-enabled .Carousel__Item {
  height: 100%;
}
@media screen and (max-width: 1007px) {
  .ProductList--carousel {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
    margin-bottom: -1rem;
  }
  .ProductList--carousel .Carousel__Item {
    white-space: normal;
    display: inline-block !important;
    width: 42%;
  }
}
@media screen and (max-width: 640px) {
  .ProductList--carousel .Carousel__Item {
    display: inline-block !important;
    width: 68%;
  }
}
@media screen and (min-width: 1280px) {
  .ProductList--carousel::after {
    content: "flickity";
    display: none;
  }
  .ProductList--carousel .flickity-prev-next-button {
    width: 3rem;
    height: 3rem;
    stroke-width: 1px;
  }
  .ProductList--carousel .flickity-prev-next-button.next {
    right: 1rem;
  }
  .ProductList--carousel .flickity-prev-next-button.previous {
    left: 1rem;
  }
}