@font-face {
  font-family: "Rift";
  src: url("https://cdn.shopify.com/s/files/1/0842/2693/3015/files/Rift-Bold.woff?v=1703659673") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("https://cdn.shopify.com/s/files/1/0842/2693/3015/files/Lato-Thin.woff?v=1703657614") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Lato";
  src: url("https://cdn.shopify.com/s/files/1/0842/2693/3015/files/Lato-Light.woff?v=1703657614") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url("https://cdn.shopify.com/s/files/1/0842/2693/3015/files/Lato-Regular.woff?v=1703657614") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("https://cdn.shopify.com/s/files/1/0842/2693/3015/files/Lato-Semibold.woff?v=1703657614") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url("https://cdn.shopify.com/s/files/1/0842/2693/3015/files/Lato-Bold.woff?v=1703657614") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url("https://cdn.shopify.com/s/files/1/0842/2693/3015/files/Lato-Heavy.woff?v=1703657614") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Lato";
  src: url("https://cdn.shopify.com/s/files/1/0842/2693/3015/files/Lato-Black.woff?v=1703657614") format("woff");
  font-weight: 900;
}


