html,
body {
  scroll-behavior: smooth;
}

/* custom css for Top page */

/* FeaturedCollection */

.FeaturedCollection {
    margin-top: 25px !important;
    margin-bottom: 20px !important;
}

/* .SectionBody.FeaturedCollection__Body.ProductListWrapper {
    margin-right: 1px;
} */

/* css for event section */
#shopify-section-template--21540746690839__949fa78e-763f-4994-8f31-650c2c0ea335 .SectionHeader.SectionHeader--horizontal {
   border-bottom : unset;
}

/* FeaturedCollection end */


/* Slideshow */
#section-template--21540746690839__7eea2238-1d38-4ea2-ac5f-e61d23bdb014 {
    margin-top: 25px;
    padding-left: calc(100% - 100% / 1920 * 1820) !important;
    display: flex;
    flex-wrap: nowrap;
}


.Slideshow_left_wrapper {
    width: 33%;
    padding: 30px 30px 30px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#section-template--21540746690839__7eea2238-1d38-4ea2-ac5f-e61d23bdb014 .Carousel {
  width: 67%; 
}

.Slideshow_left_wrapper .flex-grow {
   flex-grow: 1;
}

.Slideshow_heading_l1,
.Slideshow_heading_l2,
.Slideshow_heading_l3,
.Slideshow_heading_l4 {
    color:  #1A1A1A;
    font-family: 'Lato', 'Noto Sans JP';
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.Slideshow_left_wrapper .Slideshow_heading_l3,
.Slideshow_left_wrapper .Slideshow_heading_l4 {
    color:  #999;
    display: block;
}

.Slideshow_left_wrapper .Slideshow_desc {
    /* flex-grow: 1; */
    color: #000;
    text-align: justify;
    font-family: 'Lato', 'Noto Sans JP';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}




.Slideshow_heading_l1,
.Slideshow_heading_l2,
.Slideshow_heading_l3,
.Slideshow_heading_l4 {
  width: 400px;
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
  /* margin: 0.5rem auto; */
}

.Slideshow_heading_l1 {
  border-right: 4px solid transparent;

  /* define animation types for text + cursor */
  animation: animated-text__1 4s steps(30, end) 1s 1 normal both,
    animated-cursor__1 900ms steps(30, end) 5;
}

.Slideshow_heading_l2 {
  border-right: 4px solid transparent;

  /* define animation types for text + cursor */
  animation: animated-text__2 4s steps(30, end) 1s 1 normal both,
    animated-cursor__2 900ms steps(30, end) 5;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.Slideshow_heading_l3 {
  border-right: 4px solid transparent;

  /* define animation types for text + cursor */
  animation: animated-text__3 3s steps(30, end) 1s 1 normal both,
    animated-cursor__3 900ms steps(30, end) 4;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.Slideshow_heading_l4 {
  border-right: 4px solid transparent;

  /* define animation types for text + cursor */
  animation: animated-text__4 3s steps(30, end) 1s 1 normal both,
    animated-cursor__4 900ms steps(30, end) infinite;
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
}


@keyframes animated-cursor__1 {
  from {
    border-right-color: orange;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes animated-cursor__2 {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: orange;
  }
}

@keyframes animated-cursor__3 {
  from {
    border-right-color: orange;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes animated-cursor__4 {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: orange;
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 380px;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
     width: 420px;
  }
}

@keyframes animated-text__3 {
  from {
    width: 0;
  }
  to {
     width: 190px;
  }
}

@keyframes animated-text__4 {
  from {
    width: 0;
  }
  to {
     width: 255px;
  }
}


@media screen and (max-width: 1360px) { 
.Slideshow_heading_l1,
.Slideshow_heading_l2,
.Slideshow_heading_l3,
.Slideshow_heading_l4 {
    color:  #1A1A1A;
    font-family: 'Lato', 'Noto Sans JP';
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}


@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 370px;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
     width: 370px;
  }
}

@keyframes animated-text__3 {
  from {
    width: 0;
  }
  to {
     width: 170px;
  }
}

@keyframes animated-text__4 {
  from {
    width: 0;
  }
  to {
     width: 220px;
  }
}

}



@media screen and (max-width: 950px) { 
  #section-template--21540746690839__7eea2238-1d38-4ea2-ac5f-e61d23bdb014 {
    display: flex;
    flex-direction: column;
  }
#section-template--21540746690839__7eea2238-1d38-4ea2-ac5f-e61d23bdb014 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#section-template--21540746690839__7eea2238-1d38-4ea2-ac5f-e61d23bdb014 .Slideshow_left_wrapper {
    padding-left: calc(var(--tg-container-gutter-x) * 2) !important;
    padding-right: calc(var(--tg-container-gutter-x) * 2) !important;
}

.Slideshow_left_wrapper {
    width: 100%;
    padding: 30px 30px 30px 0;
    display: flex;
    flex-direction: column;
}

#section-template--21540746690839__7eea2238-1d38-4ea2-ac5f-e61d23bdb014 .Carousel {
    width: 100%; 
}

}

/* Slideshow end*/


/* PRODUCTS list*/

#shopify-section-template--21540746690839__f917d87e-0670-414c-a4ab-41c342dd8200 {
    margin-bottom: 100px !important;
}

#shopify-section-template--21540746690839__f917d87e-0670-414c-a4ab-41c342dd8200 .SectionHeader__Text .SectionHeader__Heading {
    color:  #1A1A1A;
    font-family: 'Lato', 'Noto Sans JP';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 4px;
}


#shopify-section-template--21540746690839__f917d87e-0670-414c-a4ab-41c342dd8200 .SectionBody__wrapper {
    display: flex;
    justify-content: space-between;
}


.ProductTagList {
    width: 30%;
    margin-top: 30px;
    /* display: flex;
    flex-direction: column; */
}

#shopify-section-template--21540746690839__f917d87e-0670-414c-a4ab-41c342dd8200 .SectionBody.FeaturedCollection__Body.ProductListWrapper {
    width: 70%;

}

.ProductTag_btn {
    padding: 4px 14px;
    /* background-color: #f1f1f1; */
    color: var(--sub, #999);
    border-radius: 8px;
    margin-top: 16px;
    display: inline-block;
    font-family:  'Lato', 'Noto Sans JP';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.25s;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.ProductTag_title {
     padding: 4px 14px;
    color: var(--sub, #999);
    font-family: 'Lato', 'Noto Sans JP';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
    text-decoration: unset !important;
}


.ProductTag_btn:hover { 
    cursor: pointer;
    /* background-color: #666;
    color: white; */
    font-weight: 600;
    color: #1A1A1A;
}

.ProductList.ProductList--grid.Grid {
    border-left: 1px solid var(--tg-sys-color-outline);
}

.ProductTag_btn.active {
  /* background-color: #666;
  color: white; */
  font-weight: 600;
  color: #1A1A1A;
}


.Grid__Item.filterDiv.show {
  display: block;
}

.pagination {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.pagination button {
    border: none !important;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 10px;
    display: inline-block;
    margin:0 6px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #9d9d9d;
    color:#fff;
}

button.active {
    background-color: #9d9d9d;
    color:#fff;
}

button.cursor-not-allowed {
    cursor: not-allowed;
    opacity: 0.6;
}


button.cursor-not-allowed:hover {
    color:#000;
    background-color: white;
}

@media screen and (max-width: 950px) {  
    #shopify-section-template--21540746690839__f917d87e-0670-414c-a4ab-41c342dd8200 .SectionBody__wrapper {
    display: flex;
    flex-direction: column;
}

#shopify-section-template--21540746690839__f917d87e-0670-414c-a4ab-41c342dd8200 .SectionHeader__Text .SectionHeader__Heading {
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 3px;
}


.ProductTagList {
    margin-top: 0;
    width: 100%;
    text-align: center;
}

.sp_br_display_none {
    display: none;
}

.ProductTag_btn {
    margin-left: 8px;
    margin-top: 12px;
}


#shopify-section-template--21540746690839__f917d87e-0670-414c-a4ab-41c342dd8200 .SectionBody.FeaturedCollection__Body.ProductListWrapper {
    width: 100%;

}

#shopify-section-template--21540746690839__f917d87e-0670-414c-a4ab-41c342dd8200 .SectionHeader.SectionHeader--horizontal {
   border-bottom: unset;
}

.ProductList.ProductList--grid.Grid {
    margin-top: 20px;
    border-top: 1px solid var(--tg-sys-color-outline);
}
}

/* PRODUCTS list end */

/* product card */


 .Carousel__Item .ProductCard {
      padding: 45px 30px;
}

.Grid__Item {
      padding: 45px 30px;
}

.Template--product .ProductDesign .Grid__Item {
    padding: 0;
}


@media screen and (max-width: 950px) {  
.Carousel__Item .ProductCard {
      padding: 25px 15px;
}

.Grid__Item {
      padding: 25px 15px;
}


}
 
.ProductCard__Meta {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__tag--wrapper {
    margin-top: 12px;
}

.product__tag {
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 4px;
    font-size: 12px;
    font-family: 'Lato', 'Noto Sans JP';
}



@media screen and (max-width: 950px) {   
   .ProductCard__Meta svg {

    transform: scale(0.6);
}
}

/* product card end */

#float_btn {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 25px;
    font-family: Lato,Noto Sans JP;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: #f7c600;
    text-align: center;
    width: 150px;
    aspect-ratio: 1;
    clip-path: polygon(100.00% 50.00%,88.64% 60.35%,93.30% 75.00%,78.28% 78.28%,75.00% 93.30%,60.35% 88.64%,50.00% 100.00%,39.65% 88.64%,25.00% 93.30%,21.72% 78.28%,6.70% 75.00%,11.36% 60.35%,0.00% 50.00%,11.36% 39.65%,6.70% 25.00%,21.72% 21.72%,25.00% 6.70%,39.65% 11.36%,50.00% 0.00%,60.35% 11.36%,75.00% 6.70%,78.28% 21.72%,93.30% 25.00%,88.64% 39.65%);
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
#float_btn.show {
    opacity: 1;
    visibility: visible;
}
