/**
  * ----------------------------------------------------------------------------
  * Newsletter
  * ----------------------------------------------------------------------------
  */
.Form--newsletter .Form__Submit {
  height: 100%;
}

.Newsletter {
  max-width: 100%;
  padding: 0;
  border-top: 1px solid var(--tg-sys-color-outline);
  border-bottom: 1px solid var(--tg-sys-color-outline);
}
.Newsletter .TextOnImage__ContentInner {
  max-width: 680px;
}

@media screen and (min-width: 641px) {
  .Newsletter .SectionHeader {
    margin-bottom: 2rem;
  }
}
.Newsletter .SectionHeader .SectionHeader__Heading {
  margin-bottom: 0.75rem;
}

.Newsletter .Form .Newsletter__EmailWrapper {
  z-index: 3;
  padding-right: 0;
  display: flex;
}
.Newsletter .Form .Newsletter__EmailWrapper .Form__Input {
  flex: 1 1 auto;
  width: 1%;
}

.Newsletter .Form .Newsletter__SubmitWrapper {
  flex-grow: 0;
  padding-left: 0;
  width: auto;
}