/**
 * ----------------------------------------------------------------------------
 * Featured nav
 * ----------------------------------------------------------------------------
 */
:root {
  --tg-sys-section-featured-nav-image-border-radius: 0;
}

section-featured-nav {
  display: block;
}

.FeaturedNav {
  border-top: 1px solid var(--tg-sys-color-outline);
  border-bottom: 1px solid var(--tg-sys-color-outline);
}
.FeaturedNav .FeaturedNav__Body {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.FeaturedNav .FeaturedNav__Body .Grid {
  border: none;
  margin-top: calc(var(--tg-grid-gutter-y) * -0.5);
  margin-right: calc(var(--tg-grid-gutter-x) * -0.5);
  margin-left: calc(var(--tg-grid-gutter-x) * -0.5);
}
.FeaturedNav .FeaturedNav__Body .Grid__Item {
  padding-left: calc(var(--tg-grid-gutter-x) * 0.5);
  padding-right: calc(var(--tg-grid-gutter-x) * 0.5);
  padding-top: calc(var(--tg-grid-gutter-y) * 0.5);
  padding-bottom: calc(var(--tg-grid-gutter-y) * 0.5);
  border: none;
}

.NavCard__Image {
  border-radius: var(--tg-sys-section-featured-nav-image-border-radius);
}

.NavCard__Title {
  margin-top: 0.75rem;
  text-align: center;
  word-break: break-all;
}
.NavCard__Title:not(.CustomSize) {
  font-family: var(--tg-sys-typescale-label-large-font);
  font-style: var(--tg-sys-typescale-label-large-style);
  font-weight: var(--tg-sys-typescale-label-large-weight);
  font-size: var(--tg-sys-typescale-label-large-size);
  line-height: var(--tg-sys-typescale-label-large-line-height);
  letter-spacing: var(--tg-sys-typescale-label-large-tracking);
}

.NavCard__Subtitle {
  margin-top: 0.75rem;
  margin-bottom: -0.5rem;
  font-family: var(--tg-sys-typescale-body-small-font);
  font-style: var(--tg-sys-typescale-body-small-style);
  font-weight: var(--tg-sys-typescale-body-small-weight);
  font-size: var(--tg-sys-typescale-body-small-size);
  line-height: var(--tg-sys-typescale-body-small-line-height);
  letter-spacing: var(--tg-sys-typescale-body-small-tracking);
  text-align: center;
}

@media screen and (max-width: 1007px) {
  .FeaturedNav__Body {
    overflow: hidden;
  }
}
.NavCardList--carousel {
  margin-left: calc(var(--tg-grid-gutter-x) * -0.5);
  margin-right: calc(var(--tg-grid-gutter-x) * -0.5);
}
.NavCardList--carousel::after {
  content: "";
}
.NavCardList--carousel .Carousel__Item {
  padding: 0.4rem calc(var(--tg-grid-gutter-x) * 0.5);
}
@media screen and (max-width: 1007px) {
  .NavCardList--carousel {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
    margin-bottom: -1rem;
  }
  .NavCardList--carousel .Carousel__Item {
    white-space: normal;
    display: inline-block !important;
    width: 22%;
  }
}
@media screen and (max-width: 640px) {
  .NavCardList--carousel .Carousel__Item {
    display: inline-block !important;
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .NavCardList--carousel::after {
    content: "flickity";
    display: none;
  }
  .NavCardList--carousel .flickity-prev-next-button {
    width: 3rem;
    height: 3rem;
    stroke-width: 1px;
  }
  .NavCardList--carousel .flickity-prev-next-button.next {
    right: -1rem;
  }
  .NavCardList--carousel .flickity-prev-next-button.previous {
    left: -1rem;
  }
}