/**
  * ----------------------------------------------------------------------------
  * Featured columns
  * ----------------------------------------------------------------------------
  */
:root {
  --tg-featured-columns-background-color: var(--tg-sys-color-background);
  --tg-featured-columns-text-color: var(--tg-sys-color-on-background);
}

section-featured-columns {
  display: block;
}

.FeaturedColumns {
  border-top: 1px solid var(--tg-sys-color-outline);
  background-color: var(--tg-featured-columns-background-color);
}

@media screen and (max-width: 640px) {
  .FeaturedColumns--horizontal .FeaturedColumns__Body {
    overflow: hidden;
  }
  .FeaturedColumns--horizontal .FeaturedColumns__Body .Grid {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: -1rem;
    padding-bottom: 1rem;
  }
  .FeaturedColumns--horizontal .FeaturedColumns__Body .Grid .Grid__Item {
    white-space: normal;
    display: inline-block !important;
    width: 88%;
  }
}

.FeaturedColumnsCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.FeaturedColumnsCard .FeaturedColumnsCard__Content {
  display: flex;
  flex-wrap: wrap;
}
.FeaturedColumnsCard .FeaturedColumnsCard__Content.TextCenter {
  justify-content: center;
}
.FeaturedColumnsCard .FeaturedColumnsCard__Content.TextStart {
  justify-content: flex-start;
}
.FeaturedColumnsCard .FeaturedColumnsCard__Content.TextEnd {
  justify-content: flex-end;
}
.FeaturedColumnsCard .FeaturedColumnsCard__Heading,
.FeaturedColumnsCard .FeaturedColumnsCard__Excerpt {
  word-break: break-word;
  width: 100%;
  color: var(--tg-featured-columns-text-color);
}
.FeaturedColumnsCard .FeaturedColumnsCard__Heading a,
.FeaturedColumnsCard .FeaturedColumnsCard__Excerpt a {
  color: var(--tg-featured-columns-text-color);
}
.FeaturedColumnsCard .FeaturedColumnsCard__Heading a:hover,
.FeaturedColumnsCard .FeaturedColumnsCard__Excerpt a:hover {
  color: var(--tg-featured-columns-text-color);
}
.FeaturedColumnsCard .FeaturedColumnsCard__Heading,
.FeaturedColumnsCard .FeaturedColumnsCard__Excerpt {
  width: 100%;
}
.FeaturedColumnsCard.FeaturedColumnsCard--imageBottom .FeaturedColumnsCard__ImageWrapper {
  order: 2;
}

.FeaturedColumnsCard__Content {
  padding: 1.5rem;
}

.FeaturedColumnsCard--blank {
  min-height: calc(var(--tg-container-gutter-y) * 2);
}

.FeaturedColumnsCard--text {
  height: 100%;
}

.FeaturedColumnsCard__Excerpt + .Button--primary,
.FeaturedColumnsCard__Excerpt + .Button--outline {
  margin-top: 0.5rem;
}