/**
 * ----------------------------------------------------------------------------
 * Section banner
 * ----------------------------------------------------------------------------
 */
.Banner__VideoButton {
  margin-top: 1rem;
}

.Banner {
  /* border-top: 1px solid var(--tg-sys-color-outline);
  border-bottom: 1px solid var(--tg-sys-color-outline); */
}
.Banner .SectionHeader {
  margin-bottom: 1.5rem;
}
.Banner .DeferredMedia .Button--play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}