section-tab-collections {
  display: block;
}

.TabCollections {
  border-top: 1px solid var(--tg-sys-color-outline);
}

.TabCollections__SectionHeader {
  align-items: center;
}
.TabCollections__SectionHeader .Nav--tabs {
  margin-top: -0.5rem;
}
.TabCollections__SectionHeader .Nav__Item {
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.TabCollections__SectionHeader .Nav__Item:last-child {
  margin-right: 0;
}
.TabCollections__SectionHeader .Nav__Item:first-child {
  margin-left: 0;
}
.TabCollections__SectionHeader .Button--underline {
  opacity: 0.6;
}
.TabCollections__SectionHeader .Button--underline:hover, .TabCollections__SectionHeader .Button--underline:active, .TabCollections__SectionHeader .Button--underline.Active {
  opacity: 1;
  font-weight: 600;
}
.TabCollections__SectionHeader .Button--underline::after {
  height: 0px;
}
.TabCollections__SectionHeader .Button--underline:hover:after, .TabCollections__SectionHeader .Button--underline:active:after, .TabCollections__SectionHeader .Button--underline.Active:after {
  height: 2px;
}