:root {
  --tg-header-background-color: var(--tg-sys-color-background);
  --tg-header-text-color: var(--tg-sys-color-on-background);
  --tg-header-dropdown-menu-background-color: var(--tg-sys-color-background);
  --tg-header-dropdown-menu-text-color: var(--tg-sys-color-on-background);
  --tg-header-dropdown-menu-border-color: var(--tg-sys-color-outline);
}

.shopify-section--header {
  position: relative;
}

.Header {
  display: block;
  background-color: var(--tg-header-background-color);
  color: var(--tg-header-text-color);
  margin-top: -1px;
  border-top: 1px solid var(--tg-sys-color-outline);
  border-bottom: 1px solid var(--tg-sys-color-outline);
}

.Header__LogoText,
.Header__MainMenu .Nav__Link.Nav__Link--levelOne,
.Header__SecondaryMenu .Nav__Link,
.Header__LogoWrapper .Header__MenuTrigger .Button,
.Header__Localization .Dropdown__Toggle {
  color: var(--tg-header-text-color);
}

.Header__Localization .Dropdown__Toggle {
  border: none;
}

.Header__SecondaryMenu .CartCountBubble {
  background-color: var(--tg-header-text-color);
  color: var(--tg-header-background-color);
}

.shopify-section--header:not(.HeaderWrapperSticking) .Header--transparent .CartCountBubble {
  background-color: transparent;
  border: 1px solid var(--tg-header-text-color);
  color: var(--tg-header-text-color);
}

.Header__Main {
  display: flex;
  /* min-height: calc(var(--header-min-height-mobile) + 1rem); */
  justify-content: space-between;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
@media screen and (min-width: 641px) {
  .Header__Main {
    /* min-height: calc(var(--header-min-height) + 2rem); */
  }
}
.Header__Main .Header__SecondaryMenu {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
@media screen and (min-width: 1008px) {
  .Header__Main {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.Header--middleLeft .Header__Main .Header__MainMenu {
  padding-left: 1.5rem;
  padding-right: 3.5rem;
}
@media screen and (min-width: 1008px) {
  .Header--middleCenter .Header__Main {
    position: relative;
  }
  .Header--middleCenter .Header__Main .Header__LogoWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .Header--middleCenter .Header__Main .Header__MainMenu {
    order: 1;
    max-width: calc(50% - var(--tg-header-logo-width, 80px) / 2);
  }
  .Header--middleCenter .Header__Main .Header__SecondaryMenu {
    order: 3;
  }
}

.Header__LogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header .Header__Logo, .Header .Header__LogoLink {
  display: flex;
  align-items: center;
}
.Header .Header__LogoText {
  margin-bottom: 0;
  word-break: break-word;
  font-family: var(--tg-sys-typescale-title-large-font);
  font-style: var(--tg-sys-typescale-title-large-style);
  font-weight: var(--tg-sys-typescale-title-large-weight);
  font-size: var(--tg-sys-typescale-title-large-size);
  line-height: var(--tg-sys-typescale-title-large-line-height);
  letter-spacing: var(--tg-sys-typescale-title-large-tracking);
}

.Header__MenuTrigger .Button--icon {
  padding-left: 0;
}

.DropdownMenu {
  position: relative;
}

.MegaMenu__Item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 20%;
}

.DropdownMenu__Body {
  position: absolute;
  left: 1rem;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 1.75rem 2rem;
  margin: 0;
  color: var(--tg-header-dropdown-menu-text-color);
  text-align: left;
  list-style: none;
  background-color: var(--tg-header-dropdown-menu-background-color);
  background-clip: padding-box;
  border: 1px solid var(--tg-header-dropdown-menu-border-color);
  opacity: 0;
}

.DropdownMenu:not(.DropdownMenu--mega) .Nav--vertical .Nav__Link {
  white-space: nowrap;
}

.DropdownMenu__Body.Show {
  display: block;
  opacity: 1;
}

.DropdownMenu__Header {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  white-space: nowrap;
  font-family: var(--tg-sys-typescale-title-medium-font);
  font-style: var(--tg-sys-typescale-title-medium-style);
  font-weight: var(--tg-sys-typescale-title-medium-weight);
  font-size: var(--tg-sys-typescale-title-medium-size);
  line-height: var(--tg-sys-typescale-title-medium-line-height);
  letter-spacing: var(--tg-sys-typescale-title-medium-tracking);
}

.DropdownMenu__HeaderWrapper:not(:first-child) {
  margin-top: 0.5rem;
}

.Nav__Link.Nav__Link--levelThree {
  padding-left: 0.15rem;
}

.Header__MainMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Header__MainMenu .Nav__Link.Nav__Link--levelOne {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  padding: 1.75rem 0 1.5rem 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
.Header__MainMenu .MegaMenu__Item--image.MegaMenu__Item--imageThemeEditorFoucs {
  -webkit-animation: CurrentImageGlow 800ms ease-out 6 alternate;
          animation: CurrentImageGlow 800ms ease-out 6 alternate;
}
@-webkit-keyframes CurrentImageGlow {
  0% {
    box-shadow: 0 0 5px rgba(var(--tg-sys-color-theme-rgb), 0), inset 0 0 5px rgba(var(--tg-sys-color-theme-rgb), 0.1), 0 1px 0 var(--tg-sys-color-theme);
  }
  100% {
    box-shadow: 0 0 20px rgba(var(--tg-sys-color-theme-rgb), 0.4), inset 0 0 10px rgba(var(--tg-sys-color-theme-rgb), 0.2), 0 1px 0 var(--tg-sys-color-theme);
  }
}
@keyframes CurrentImageGlow {
  0% {
    box-shadow: 0 0 5px rgba(var(--tg-sys-color-theme-rgb), 0), inset 0 0 5px rgba(var(--tg-sys-color-theme-rgb), 0.1), 0 1px 0 var(--tg-sys-color-theme);
  }
  100% {
    box-shadow: 0 0 20px rgba(var(--tg-sys-color-theme-rgb), 0.4), inset 0 0 10px rgba(var(--tg-sys-color-theme-rgb), 0.2), 0 1px 0 var(--tg-sys-color-theme);
  }
}
.Header__MainMenu .DropdownMenu:hover .DropdownMenu__Body {
  display: block;
  opacity: 1;
}
.Header__MainMenu .Nav__Link--levelOne {
  position: relative;
}
.Header__MainMenu .Nav__Link--levelOne:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  bottom: -4px;
  background: var(--tg-header-text-color);
  left: 0;
}
.Header__MainMenu .Nav__Link--levelOne:hover:after, .Header__MainMenu .Nav__Link--levelOne:focus-visible:after {
  width: 100%;
  transition: all 0.25s ease-in;
}
.Header__MainMenu .DropdownMenu:focus-within .DropdownMenu__Body {
  display: block;
  opacity: 1;
}
.Header__MainMenu .DropdownMenu__Body--mega {
  width: 100%;
  left: 0;
  padding: 40px 0;
  transition: all 0.5s ease-in;
  border-left: 0;
  border-right: 0;
}
.Header__MainMenu .DropdownMenu--mega {
  position: static;
}
.Header__MainMenu .MegaMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.Header__MainMenu .MegaMenu .MegaMenu__Title {
  font-family: var(--tg-sys-typescale-title-medium-font);
  font-style: var(--tg-sys-typescale-title-medium-style);
  font-weight: var(--tg-sys-typescale-title-medium-weight);
  font-size: var(--tg-sys-typescale-title-medium-size);
  line-height: var(--tg-sys-typescale-title-medium-line-height);
  letter-spacing: var(--tg-sys-typescale-title-medium-tracking);
  margin-bottom: 0;
  padding-left: 0;
}
.Header__MainMenu .MegaMenu .ImageCard__Heading {
  font-family: var(--tg-sys-typescale-title-medium-font);
  font-style: var(--tg-sys-typescale-title-medium-style);
  font-weight: var(--tg-sys-typescale-title-medium-weight);
  font-size: var(--tg-sys-typescale-title-medium-size);
  line-height: var(--tg-sys-typescale-title-medium-line-height);
  letter-spacing: var(--tg-sys-typescale-title-medium-tracking);
  margin-top: 0.75rem;
  margin-bottom: 0;
}
.Header__MainMenu .MegaMenu .ImageCard__Subheading {
  font-family: var(--tg-sys-typescale-body-medium-font);
  font-style: var(--tg-sys-typescale-body-medium-style);
  font-weight: var(--tg-sys-typescale-body-medium-weight);
  font-size: var(--tg-sys-typescale-body-medium-size);
  line-height: var(--tg-sys-typescale-body-medium-line-height);
  letter-spacing: var(--tg-sys-typescale-body-medium-tracking);
}
.Header__MainMenu .MegaMenu .ImageCard--titleCenter {
  text-align: center;
}

.Header--spacingMedium .Header__MainMenu {
  padding-top: 2rem;
}
.Header--spacingMedium .Nav__Link.Nav__Link--levelOne {
  padding-top: 0;
  padding-bottom: 2rem;
}

.CartCountBubble {
  position: absolute;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  top: 0.2rem;
  right: 0.2rem;
  line-height: 1;
  display: none;
}
.CartCountBubble.Visible {
  display: flex;
}

.CartCountText {
  display: none;
}
.CartCountText.Visible {
  display: block;
}

.Nav--secondaryText {
  align-items: center;
}
.Nav--secondaryText .Nav__Item:last-child .Nav__Link {
  padding-right: 0;
}
.Nav--secondaryText .Nav__Item .Nav__Link {
  font-weight: 400;
}
.Nav--secondaryText .CartCountBubble {
  position: static;
  height: 1.875rem;
  width: auto;
  min-width: 1.875rem;
  font-size: 12px;
}

.Header--transparent,
.Header--transparentInHeaderGroup.Header--transparent {
  border-bottom: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: transparent;
}

.Template--index .Header.Header--withSeparationBorder {
  border-bottom: 1px solid var(--tg-sys-color-outline);
}

@media screen and (min-width: 1008px) {
  .Header.Header--middleLeft .Header__LogoWrapper {
    /* width: 25%; */
    /* width: calc(25% - var(--tg-container-gutter-x) * 3 - 1.5rem); */
    justify-content: left;
  }
  .Header .Header__MainMenu {
    flex-grow: 1;
    justify-content: left;
  }
}
@media screen and (min-width: 1280px) {
  .Header.Header--middleLeft .Header__LogoWrapper {
    /* width: calc(25% - var(--tg-container-gutter-x) * 4 - 1.5rem); */
  }
}
.Header #Header__CartTrigger.Button--icon {
  margin-right: -12px;
}

@media screen and (min-width: 1008px) {
  .Header--middleCenter .Header__MainMenu > .Nav {
    margin-left: -1rem;
  }
}

@media screen and (max-width: 1007px) {
  .Header--logoMobileCenter .Header__MenuTrigger {
    width: 50%;
  }
  .Header--logoMobileCenter .Header__Logo {
    width: 50%;
    justify-content: center;
  }
  .Header--logoMobileCenter .Header__LogoWrapper {
    flex-grow: 1;
    justify-content: space-between;
  }
  .Header--logoMobileCenter .Header__Main .Header__SecondaryMenu {
    width: 33.333333%;
    justify-content: flex-end;
  }
}

.Header__Localization {
  margin-left: 0.5rem;
}


/* custom header */

.Header__TopWrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__TopWrapper .Header__storeName {
    width: 60vw ;
}

.storeName__text {
    color: #000;
    font-family: Rift;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
}

.Header--middleLeft .Header__Main .Header__MainMenu {
    padding-left: 0;
    padding-right: 0;
}

.Header__MainMenu .Nav .Nav__Item:first-child .Nav__Link {
    margin-left: 0;
}

.Header__MainMenu .Nav__Link.Nav__Link--levelOne.Active {
    border-bottom: 3px solid #000000;
}

.header__search__text {
    margin-right: 60px;
    color:  #999;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
}

@media screen and (max-width: 1007px) { 
    .sp_display_none {
    display: none !important;
}
}

