/**
 * ----------------------------------------------------------------------------
 * Template Blog
 * ----------------------------------------------------------------------------
 */
.Template--blog .Blog {
  border-top: 1px solid var(--tg-sys-color-outline);
  border-bottom: 1px solid var(--tg-sys-color-outline);
}
.Template--blog .Blog .Blog__Content {
  margin-bottom: -1px;
}
.Template--blog .Blog__Articles .ArticleCard__Wrapper .ArticleCard--noImage {
  height: 100%;
  padding: 1.5rem 1rem;
  color: var(--tg-sys-color-on-surface);
  background: var(--tg-sys-color-surface1);
}