/**
 * ----------------------------------------------------------------------------
 * Template Article
 * ----------------------------------------------------------------------------
 */
.Template--article .Article__ContentWrapper {
  margin-top: calc(var(--tg-container-gutter-y) * 4);
  margin-bottom: calc(var(--tg-container-gutter-y) * 4);
}
@media screen and (min-width: 641px) {
  .Template--article .Article__ContentWrapper {
    margin-top: calc(var(--tg-container-gutter-y) * 5);
    margin-bottom: calc(var(--tg-container-gutter-y) * 5);
  }
}
@media screen and (min-width: 1280px) {
  .Template--article .Article__ContentWrapper {
    margin-top: calc(var(--tg-container-gutter-y) * 6);
    margin-bottom: calc(var(--tg-container-gutter-y) * 6);
  }
}
@media screen and (min-width: 1008px) {
  .Template--article .Article--hasImage .Article__ImageWrapper {
    z-index: -1;
  }
  .Template--article .Article--hasImage .Article__ContentWrapper {
    padding-top: 2rem;
    background-color: var(--tg-sys-color-background);
    margin-top: -5rem;
  }
}
.Template--article .Article__Comments {
  margin-top: 4rem;
}
.Template--article .Article__Footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.Template--article .Article__Footer .Article__MetaWraper {
  display: flex;
  text-transform: uppercase;
}
.Template--article .Article__Footer .Article__Author + .Aiticle__PublishedAt {
  margin-left: 1rem;
}
.Template--article .Article__CommentFormWrapper {
  margin-top: 5rem;
}
.Template--article .Article__CommentFormWrapper .Article__CommentFormTitle {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-family: var(--tg-sys-typescale-title-medium-font);
  font-style: var(--tg-sys-typescale-title-medium-style);
  font-weight: var(--tg-sys-typescale-title-medium-weight);
  font-size: var(--tg-sys-typescale-title-medium-size);
  line-height: var(--tg-sys-typescale-title-medium-line-height);
  letter-spacing: var(--tg-sys-typescale-title-medium-tracking);
}
.Template--article .ArticleComment {
  margin-top: 1rem;
  padding-bottom: 0.25rem;
}
.Template--article .Article__CommentsCount {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: var(--tg-sys-typescale-title-medium-font);
  font-style: var(--tg-sys-typescale-title-medium-style);
  font-weight: var(--tg-sys-typescale-title-medium-weight);
  font-size: var(--tg-sys-typescale-title-medium-size);
  line-height: var(--tg-sys-typescale-title-medium-line-height);
  letter-spacing: var(--tg-sys-typescale-title-medium-tracking);
}
.Template--article .ArticleComment__Meta {
  margin-top: 0.5rem;
}
.Template--article .ArticleComment__Meta .ArticleComment__Date {
  font-style: oblique;
}
.Template--article .ArticleComment__Author {
  text-transform: uppercase;
}